header {
  margin-bottom: 20px; }

#todo-action {
  float: right; }

@media (max-width: 1253px) {
  .topnav a {
    float: none;
    width: 100%; } }

#socialicon ul li {
  list-style: none;
  display: inline;
  float: right;
  margin: 15px; }
